$body-width: 960px
$flameorange: #C75B12
$solarorange: #E98300
$sparkorange: #FFB612
$ecogreen: #008542
$saplinggreen: #69BE28
$skyblue: #5BC6E8
$gray10: #766A62
$gray4: #B7B1A9
$gray6: #A59D95
$gray8: #8B8178
$gray2: #D5D2CA
$page-background: lighten(desaturate($sparkorange, 0%), 15%)
$page-text: #eee
$content-text: #3b3b3b
$sidebar-width: $body-width * .3
$header-height: 300px

@mixin gradient($c1, $c2, $c3)
	background-image: linear-gradient(top, $c1 26%, $c2 63%, $c3 86%)
	background-image: -o-linear-gradient(top, $c1 26%, $c2 63%, $c3 86%)
	background-image: -moz-linear-gradient(top, $c1 26%, $c2 63%, $c3 86%)
	background-image: -webkit-linear-gradient(top, $c1 26%, $c2 63%, $c3 86%)
	background-image: -ms-linear-gradient(top, $c1 26%, $c2 63%, $c3 86%)

	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0.26, $c1),color-stop(0.63, $c2),color-stop(0.86, $c3))

@mixin set-width($modifier: 0)
	max-width: $body-width + $modifier
	margin: 0 auto

@mixin site-border
	border: 0

a:link, a:visited, a:active
	color: $flameorange
a:hover
	color: $solarorange
h1,h2,h3,h4,h5,h6
	color: $ecogreen

body
	background: $page-background
	color: $content-text

nav
	background: $ecogreen
	ul.row
		@include set-width
		padding: 0
	li
		display: inline-block
		text-align:	center

	a:link, a:visited, a:active, a:hover
		display: block
		padding: .5em 1em
		text-decoration: none
		color: white
	a:hover
		background: $saplinggreen

#header-wrapper
	header
		@include site-border
		$w-mod: -30
		padding-bottom: 1em
		@include set-width($w-mod)
		height: $header-height
		color: white
		h1
			color: white
			z-index: 1
			position: absolute
			padding: 10px
			margin: 0
			background-color: $gray10
			opacity: .85
			width: $body-width + $w-mod
			text-align: center
		.carousel
			height: $header-height
			overflow: hidden
			a.carousel-control
				color: $gray2
			.item
				img
					height: 100%
					max-width: 100%

#content-wrapper
	/*@include gradient($page-background, $solarorange, $solarorange)*/
	color: $content-text
	#content
		@include site-border
		padding: 1em
		background: white
		@include set-width(-30)

#footer-wrapper
	line-height: 2em
	background: $solarorange
	footer
		color: white
		@include set-width
		.left
			text-align: left
		.middle
			text-align: center
		.right
			text-align: right

#sidebar
	ul
		padding-left: 0
		list-style-type: none

img
	max-width: 100%
