a:link, a:visited, a:active {
  color: #c75b12; }

a:hover {
  color: #e98300; }

h1, h2, h3, h4, h5, h6 {
  color: #008542; }

body {
  background: #ffb612;
  color: #3b3b3b; }

nav {
  background: #008542;
  border-bottom: 1px solid black; }
  nav ul.row {
    max-width: 960px;
    margin: 0 auto;
    padding: 0; }
  nav li {
    display: inline-block;
    text-align: center; }
  nav a:link, nav a:visited, nav a:active, nav a:hover {
    display: block;
    padding: 0.5em 1em;
    text-decoration: none;
    color: white; }
  nav a:hover {
    background: #69be28; }

#header-wrapper header {
  border-style: solid;
  border-width: 0 1px;
  border-color: black;
  padding-bottom: 1em;
  max-width: 930px;
  margin: 0 auto;
  height: 300px;
  color: white; }
  #header-wrapper header h1 {
    color: white;
    z-index: 1;
    position: absolute;
    padding: 10px;
    background-color: #766a62;
    opacity: 0.85;
    width: 930px;
    text-align: center; }
  #header-wrapper header .carousel {
    height: 300px; }
    #header-wrapper header .carousel .item img {
      height: 100%;
      max-width: 100%; }

#content-wrapper {
  background-image: linear-gradient(top, #ffb612 26%, #e98300 63%, #e98300 86%);
  background-image: -o-linear-gradient(top, #ffb612 26%, #e98300 63%, #e98300 86%);
  background-image: -moz-linear-gradient(top, #ffb612 26%, #e98300 63%, #e98300 86%);
  background-image: -webkit-linear-gradient(top, #ffb612 26%, #e98300 63%, #e98300 86%);
  background-image: -ms-linear-gradient(top, #ffb612 26%, #e98300 63%, #e98300 86%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.26, #ffb612), color-stop(0.63, #e98300), color-stop(0.86, #e98300));
  color: #3b3b3b; }
  #content-wrapper #content {
    border-style: solid;
    border-width: 0 1px;
    border-color: black;
    padding: 1em;
    background: white;
    max-width: 930px;
    margin: 0 auto; }

#footer-wrapper {
  line-height: 3em;
  background: #008542; }
  #footer-wrapper footer {
    color: white;
    max-width: 960px;
    margin: 0 auto; }
    #footer-wrapper footer .left {
      text-align: left; }
    #footer-wrapper footer .middle {
      text-align: center; }
    #footer-wrapper footer .right {
      text-align: right; }

#sidebar .email {
  font-size: 0.8em; }

img {
  max-width: 100%; }
