<!DOCTYPE html>
<html>
<head>
	<title>{{ title }}</title>
	<link rel="stylesheet" type="text/css" href="/static/basiccms/css/bootstrap.css" />
	<link rel="stylesheet" type="text/css" href="/static/basiccms/css/site.css" />
	<meta charset="utf-8"> 
</head>
<body>
	<div id="container">

	<nav>
		<ul class="row">
			<li class="col-xs-12 col-sm-3"><a href="/">Home</a></li>
			<li class="col-xs-12 col-sm-3"><a href="/members">Members</a></li>
			<li class="col-xs-12 col-sm-3"><a href="https://orgsync.com/15316/forums">Discussions (Support)</a></li>
			<li class="col-xs-12 col-sm-3"><a href="/chat">Web Chat</a></li>
		</ul>
	</nav>

	<div id="header-wrapper"><header>
		<h1>{{ title }}</h1>
		<div id="carousel-example-generic" class="carousel slide">
		  <!-- Wrapper for slides -->		
		  <div class="carousel-inner">
		    <div class="item active">
		      <img src="http://lorempixel.com/930/300/technics/6" alt="...">
	<!--
		      <div class="carousel-caption">
		        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
		      </div>
	!-->
		    </div>
		    <div class="item">
		      <img src="http://lorempixel.com/930/300/technics/4" alt="...">
	<!--
		      <div class="carousel-caption">
		        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
		      </div>
	!-->
		    </div>
		    <div class="item">
		      <img src="http://lorempixel.com/930/300/technics/3" alt="...">
	<!--
		      <div class="carousel-caption">
		        No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself.
		      </div>
	!-->
		    </div>
		  </div>

		  <!-- Controls -->
		  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
		    <span class="icon-prev"></span>
		  </a>
		  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
		    <span class="icon-next"></span>
		  </a>
		</div>

	</header></div>

	<div id="content-wrapper"><div id="content" class="row">
		{% if articles %}
		{% if sidebar %}
		<section id="articles" class="col-md-9">
		{% else %}
		<section id="articles" class="col-md-12">
		{% endif %}
			{% for article in articles %}
				<article>
					<h2>{{ article.title }}</h2>
					{% autoescape off %}
					<div>{{ article.content }}</div>
					{% endautoescape %}
				</article>
			{% endfor %}
		</section>
		{% endif %}


		{% if sidebar %}
		<div id="sidebar" class="col-md-3">
			{% for element in sidebar.elements %}
			<section>
				<h3>{{ element.title }}:</h3>
					{% autoescape off %}
				<div>{{ element.content }}</div>
					{% endautoescape %}
			</section>
			{% endfor %}
		</div>
		{% endif %}

	</div></div>

	<div id="footer-wrapper"><footer class="row">
		<div class="left col-xs-4">
	<!--
			<span>Linux Users Group at UTD</span>
	-->
		</div>
		<div class="middle col-xs-4">
	<!--
			<span>Linux Users Group at UTD</span>
	-->
		</div>
		<div class="right col-xs-4">
	<!--
			<span>Linux Users Group at UTD</span>
	-->
		</div>
	</footer></div>
  <!-- Modal -->
  <div class="modal fade" id="lug-admin-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">LUG Admin Login</h4>
        </div>
        <div class="modal-body">
          <form>
          	<label for="input-admin-user">User</label>
    		<input type="text" class="form-control" id="input-admin-user" placeholder="Enter user"> <br />
          	<label for="input-admin-password">Password</label>
    		<input type="password" class="form-control" id="input-admin-password" placeholder="Enter password">
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Login</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

	<script src="/static/basiccms/js/jquery-2.0.3.js"></script>
	<script src="/static/basiccms/js/bootstrap.js"></script>
	<script src="/static/basiccms/js/konami.js"></script>
	<script type="text/javascript">
		var admin = new Konami();
		admin.pattern = "7685716568777378";
		admin.code = function() { $("#lug-admin-modal").modal('show'); }
		admin.load();
		$('.carousel').carousel();
	</script>
	</div>
</body>
</html>
