<!DOCTYPE html>
<html>
<head>
	<title>{{ title }} - Basic Template</title>
	<meta charset="utf-8"> 
</head>
	<h1>{{ title }}</h1> 

	{% if articles %}
	<section id="articles">
		{% for article in articles %}
			<article>
				<h2>{{ article.title }}</h2>
				<div>{{ article.content }}</div>
			</article>
		{% endfor %}
	</section>
	{% endif %}


	{% if sidebar %}
	<h2>Sidebar title: {{ sidebar.title }}</h2>
	<section id="sidebar">
		{% for element in sidebar.elements %}
		<section>
			<h3>{{ element.title }}</h3>
			<div>{{ element.content }}</div>
		</section>
		{% endfor %}
	</section>
	{% endif %}